<!DOCTYPE html>
<html>
  <head>
    <title>TwitterSample</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>

  <body>
  <div id="container">
    <% if user_signed_in? %>
      <nav class="navbar navbar-expand bg-dark">
        <%= link_to "Home", posts_path, class: "navbar-brand" %>
        <div class="nav-item nav-link  ml-auto">
          <div class="dropdown">
            <button class="btn btn-light btn-md dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <strong><%= current_user.email %></strong>
            </button>
            <div class="dropdown-menu dropdown-menu-right bg-light" aria-labelledby="dropdownMenuButton">
              <button class="dropdown-item" type="button">
                <div class="text-center"><%= link_to "Log Out", destroy_user_session_path, method: :delete %></div>
              </button>
            </div>
          </div>
        </div>
      </nav>
      <% else %>
      <nav class="navbar navbar-expand bg-dark">
        <div class="nav-item nav-link  ml-auto">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Sign In", new_user_session_path, class: "nav-link" %>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <% end %>
  </div>

  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>

  <div class="container">
    <%= yield %>
    <div id="displayModals"></div>
  </div>
  </body>
</html>
